
{% extends 'base.html.twig' %}

{% block body %}
    <h1>News list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Text</th>
                <th>Target</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{% if news.date %}{{ news.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.text }}</td>
                <td>{{ news.target }}</td>
                <td>
                    <a href="{{ path('admin_new_show', { 'id': news.id }) }}">Afficher</a>
                    <a href="{{ path('admin_new_edit', { 'id': news.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
            <a href="{{ path('admin_new_new') }}">Créer une nouvelle nouvelle</a>
    
{% endblock %}

