{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Login</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Authkey</th>
                <th>Surname</th>
                <th>Lastseen</th>
                <th>Lastposupdate</th>
                <th>Mappoint</th>
                <th>Precision</th>
                <th>Altmax</th>
                <th>Altmin</th>
                <th>Denivele</th>
                <th>Kmtot</th>
                <th>Kmski</th>
                <th>Maxspeed</th>
                <th>Avgspeed</th>
                <th>Skitime</th>
                <th>Totaltime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.authKey }}</td>
                <td>{{ user.surName }}</td>
                <td>{% if user.lastSeen %}{{ user.lastSeen|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.lastPosUpdate %}{{ user.lastPosUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.mapPoint }}</td>
                <td>{{ user.precision }}</td>
                <td>{{ user.altMax }}</td>
                <td>{{ user.altMin }}</td>
                <td>{{ user.denivele }}</td>
                <td>{{ user.kmTot }}</td>
                <td>{{ user.kmSki }}</td>
                <td>{{ user.maxSpeed }}</td>
                <td>{{ user.avgSpeed }}</td>
                <td>{{ user.skiTime }}</td>
                <td>{{ user.totalTime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
